.wrapper {
    color: #202020;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: #3535350e;
    }

    td {
        padding: 10px 15px;
        width: 100%;
        white-space: nowrap;
        align-items: center;
        text-align: center;
        font-weight: bold;
    }

    table {
        width: calc(100% - 20px);
        table-layout: auto;
        border-collapse: collapse;
    }

    .user {
        display: flex;
        gap: 10px;
        align-items: center;

        div {
            font-size: 13px;
        }

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .cost {
        font-size: 13px;
        width: 40%;
    }

    .title {
        font-size: 13px;
        width: 50%;
    }

    .status {
        font-size: 13px;

        &.pending {
            color: #ffcc00; /* Vàng */
        }

        &.confirmed {
            color: #4caf50; /* Xanh lá */
        }

        &.payment-pending {
            color: #ff9800; /* Cam */
        }

        &.paid {
            color: #2196f3; /* Xanh dương */
        }

        &.checked-in {
            color: #673ab7; /* Tím */
            border-radius: 16px;
        }

        &.completed {
            color: #009688; /* Xanh lục */
            border-radius: 16px;
        }

        &.cancelled {
            color: #f44336; /* Đỏ */
            border-radius: 16px;
        }

        &.no-show {
            color: #9e9e9e; /* Xám */
            border-radius: 16px;
        }

        &.refunded {
            color: #8bc34a; /* Xanh nhạt */
            border-radius: 16px;
        }
    }
    .time-start {
        font-size: 13px;
    }
}

.delete {
    text-align: center;
    padding: 5px;

    .delete-icon {
        padding: 10px;
        border-radius: 10px;
        &:hover {
            background-color: #202020;
            color: white;
        }
    }
}
@media (max-width: 1000px) {
    .wrapper {
        color: #202020;
        width: 100%;
        cursor: pointer;

        td {
            padding: 15px;
            font-weight: 500;
            font-family: var(--font-default);
        }

        .time-start {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    .wrapper {
        color: #202020;
        width: calc(100vw - 120px);
        cursor: pointer;

        td {
            padding: 15px 4px;
            font-weight: 500;
            font-family: var(--font-default);
        }

        .user {
            .name {
                margin-top: 11px;
            }

            img {
                display: none;
            }
        }

        .time-start {
            display: none;
        }

        .status {
            display: none;
        }
    }
}
