.wrapper {
    color: #202020;
    width: 100%;
    cursor: pointer;
    font-family: var(--font-default);

    &:hover {
        background-color: #3535350e;
    }

    td {
        padding: 10px 15px;
        width: 100%;
        white-space: nowrap;
        align-items: center;
        text-align: center;
        font-weight: bold;
    }

    table {
        width: calc(100% - 20px);
        table-layout: auto;
        border-collapse: collapse;
    }

    .number {
        width: 100px;
    }

    .title {
        width: 200px;
    }

    .status {
        width: 200px;
    }

    .delete {
        width: 100px;
    }

    .user {
        display: flex;
        gap: 10px;
        align-items: center;

        div {
            font-size: 13px;
        }

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .cost {
        font-size: 13px;
        width: 20%;
    }

    .title {
        font-size: 13px;
    }

    .status-inner {
        font-size: 13px;
        padding: 10px;

        &.pending {
            background-color: #ffcc00; /* Vàng */
            border-radius: 16px;
        }

        &.paid {
            background-color: #2196f3; /* Xanh dương */
            border-radius: 16px;
        }

        &.completed {
            background-color: #009688; /* Xanh lục */
            border-radius: 16px;
        }

        &.in-process {
            background-color: aquamarine;
            border-radius: 16px;
        }

        &.refunded {
            background-color: #f44336; /* Đỏ */
            border-radius: 16px;
        }

        &.canceled {
            background-color: #9e9e9e; /* Xám */
            border-radius: 16px;
        }
    }
    .number {
        font-size: 13px;
    }
}

.delete {
    text-align: center;
    padding: 5px;

    .delete-icon {
        padding: 10px;
        border-radius: 10px;
        &:hover {
            background-color: #202020;
            color: white;
        }
    }
}
@media (max-width: 1000px) {
    .wrapper {
        color: #202020;
        width: 100%;
        cursor: pointer;

        td {
            padding: 15px;
            font-weight: 500;
            font-family: var(--font-default);
        }

        .number {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    .wrapper {
        color: #202020;
        width: calc(100vw - 120px);
        cursor: pointer;
        font-size: 13px;

        td {
            padding: 15px 4px;
            font-weight: 500;
            font-family: var(--font-default);
        }

        .user {
            display: flex;
            align-items: center;
            width: 100px;
            .name {
            }

            .img {
                height: 40px;

                img {
                    display: none;
                }
            }
        }

        .number {
            display: none;
        }

        .status {
            display: none;
        }
    }
}
