.wrapper {
    width: 94vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  

    .members-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 50px;

        .members-title {
            font-size: 40px;
            font-family: themify;
        }
        .members-container {
            display: flex;
            margin-top: 40px;
            gap: 30px;
        }
    }
}
