.wrapper {
    margin-bottom: 20px;
    position: relative;
}
.input-container {
    margin-bottom: 4px;

    &.dark {
        border-bottom: 2px solid rgb(166, 166, 166);
    }

    &.light {
        border-bottom: 2px solid var(--primary);
    }

    input,
    textarea {
        border: none;
        width: 100%;
        margin: 20px 0 7px 0;
        height: auto;
        outline: none;
        font-family: var(--font-default);
        font-size: 19px;
        background-color: transparent;

        &.dark {
            color: black;
        }

        &.light {
            color: var(--primary);
        }

        &.isLocation {
            width: 95%;
        }
    }

    textarea {
        height: 200px;
        resize: none;
    }
}

.error {
    color: rgb(253, 77, 77);
    margin-top: -10px;
    font-size: 13px;
    height: 20px;
}

.locate {
    position: absolute;
    right: 0;
    bottom: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.frame-content {
    white-space: nowrap;

    &.dark {
        color: rgb(99, 98, 98);
        font-weight: bold;
    }

    &.light {
        color: rgb(209, 209, 209);
        font-weight: bold;
    }
}

.limit {
    color: rgb(166, 166, 166);
    font-size: 13px;
}

@media (max-width: 800px) {
    .frame-wrapper {
        .frame-content {
            font-size: 14px;
        }
    }
    .wrapper {
        .input-container {
            margin-bottom: 4px;

            input,
            textarea {
                border: none;
                width: 100%;
                margin: 20px 0 7px 0;
                font-size: 19px;
            }
        }
    }
}

@media (max-width: 600px) {
    .wrapper {
        .input-container {
            margin-bottom: 4px;

            input,
            textarea {
                border: none;
                width: calc(100% - 20px);
                margin: 20px 0 7px 0;
                font-size: 15px;
            }
        }
    }
}
