.wrapper {
    display: flex;
    gap: 30px;
    font-family: var(--font-default);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;


    img {
        width: 90px;
        height: 90px;
        object-fit: contain;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        .name {
            font-family: themify;
            font-size: 18px;
        }

        .start,
        .end {
            font-size: 13px;
        }

        .status {
            color: var(--primary);
            padding: 3px 10px;
            border-radius: 16px;
            font-size: 15px;
            display: flex;

            &.status-0 {
                background-color: #04f12b;
            }
            &.status-1 {
                background-color: rgb(255, 193, 24);
            }
            &.status-2 {
                background-color: rgb(255, 29, 29);
            }
            &.status-3 {
                background-color: rgb(189, 189, 189);
            }
        }
    }

    .delete {
        position: absolute;
        top: 10px;
        right: 13px;
        cursor: pointer;
    }
}
