.rounded {
    background-color: transparent;
    color: var(--primary);
    border: none;
    font-family: Walsheim-light;
    font-size: 14px;
    cursor: pointer;
    margin: -10px 10px 0px 10px;
    align-items: center;
    color: black;
}