.wrapper {
    padding: 20px;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;

    .back {
        background-color: transparent;
        border: none;
        color: black;
        font-size: 20px;
        cursor: pointer;
        display: flex;
    }

    .content {
        line-height: 30px;
    }

    .status {
        padding: 3px 10px;
        border-radius: 15px;

        &.pending {
            background-color: #ffcc00; /* Vàng */
        }

        &.confirmed {
            background-color: #4caf50; /* Xanh lá */
        }

        &.payment-pending {
            background-color: #ff9800; /* Cam */
        }

        &.paid {
            background-color: #2196f3; /* Xanh dương */
        }

        &.checked-in {
            background-color: #673ab7; /* Tím */
            border-radius: 16px;
        }

        &.completed {
            background-color: #009688; /* Xanh lục */
            border-radius: 16px;
        }

        &.cancelled {
            background-color: #f44336; /* Đỏ */
            border-radius: 16px;
        }

        &.no-show {
            background-color: #9e9e9e; /* Xám */
            border-radius: 16px;
        }

        &.refunded {
            background-color: #8bc34a; /* Xanh nhạt */
            border-radius: 16px;
        }
    }

    .choice {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: auto;

        button {
            width: 30%;
            min-width: 100px;
        }
    }
    .pay-container,
    .cancel-container {
        display: flex;
        flex-direction: column;
        height: 200px;
        position: relative;
        font-size: 20px;

        .btn-container {
            display: flex;
            gap: 20px;
            margin-top: auto;
            justify-content: center;
        }
    }
}
