.wrapper {
    width: 100%;
    &:hover {
        background-color: #3535350e;
    }
}

td {
    padding: 10px 15px;
    width: 100;
    white-space: nowrap;
}

table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}
.info {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 50px;
    width: 70px;
}

.img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.country,
.email ,.phone {
    text-align: center;
}

.flag {
    width: 30px;
    height: 20px;
    border-radius: 5px;
}

.delete {
    width: 40px;
    text-align: center;
    padding: 5px;

    .delete-icon {
        padding: 10px;
        border-radius: 10px;
        &:hover {
            background-color: #202020;
            color: white;
        }
    }
}

