.wrapper {
    padding: 20px;

    &.clientInterface {
        width: 75vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .header {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        .left-side {
            .title {
                font-family: themify;
                font-size: 30px;
                color: #202020;
                margin-bottom: 20px;
            }
            .owner,
            .created-time {
                color: rgb(153, 153, 153);
                font-family: var(--font-default);
                margin-top: 10px;
            }
        }

        .right-side {
            position: relative;
            img {
                width: 150px;
                height: 100px;
                object-fit: cover;
                display: flex;
            }

            .client-ffc {
                display: flex;
                gap: 20px;
                position: absolute;
                bottom: 0;
                right: 20px;
                .favourite-icon {
                    font-size: 25px;
                    cursor: pointer;

                    &.isActive {
                        color: red;
                    }
                }
                .share-icon {
                    cursor: pointer;
                    font-size: 25px;
                }
            }
        }
    }
    hr {
        margin: 20px 0px;
    }
    .body {
        color: #202020;
        .content {
            font-family: var(--font-default);
            text-align: justify;
            text-indent: 30px;
            line-height: 20px;
            color: #202020;
        }
    }
    .btn-container {
        width: 300px;
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
    }
}
@media (max-width: 800px) {
    .wrapper {
        &.clientInterface {
            width: calc(100vw - 40px);
        }
    }
}
