.wrapper {
    padding: 20px;
    height: fit-content;
    scroll-behavior: unset;

    .header-info {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        .word-content {
            display: flex;
            flex-direction: column;
            font-family: var(--font-default);
            gap: 10px;

            .name-header {
                font-size: 30px;
            }
        }

        .avatar {
            position: relative;

            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
            }

            .input-container {
                position: absolute;
                width: 100px;
                height: 100px;
                left: 0;
                top: 0;

                input {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border-radius: 50%;
                    opacity: 0;
                }

                &:hover::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("../../../public/image-gallery.png");
                    background-position: center;
                    background-size: 30%;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    pointer-events: none;
                    background-color: rgba(255, 255, 255, 0.267);
                }
            }
        }
    }

    .main-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 20px;
        .email {
            &.isReadOnly {
                pointer-events: none;
            }
        }

        .phone {
            color: white !important;
            display: flex;
            width: 25vw;

            input {
                color: black;
                background-color: transparent;
                border: none;
                font-family: var(--font-default);
                font-size: 19px;
                padding: 6.5px 0;
                padding-left: 30px;
            }

            div {
                background-color: transparent;
                border: none;
                input {
                    color: black;
                    height: 20px;
                }
                li {
                    color: black;
                }
            }
        }

        .location-container {
            grid-column: span 2;
        }
        .btn-container {
            grid-column: span 2;
            width: 300px;
            gap: 10px;
            display: flex;
            margin: 0 auto;
        }
    }
    .error-text {
        color: rgb(253, 77, 77);
        font-size: 13px;
        display: flex;
        margin-bottom: 20px;
        font-weight: 500;
        font-family: var(--font-default);
    }
}

@media (max-width: 800px) {
    .wrapper {
        .main-detail {
            display: flex;
            flex-direction: column;
        }
    }
}
