.wrapper {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 10px;
    position: relative;

    .xmark {
        position: absolute;
        right: 20px;
        top: 15px;
        cursor: pointer;
    }

    .content-container {
        &.flex {
            flex-direction: row;
        }

        cursor: pointer;
        gap: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .txt-content {
            &.flex {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1;
            }

            .title {
                font-size: 20px;
                font-family: themify;
            }
            .describe {
                text-indent: 30px;
                margin-top: 30px;
                font-size: 15px;
                font-family: var(--font-default);
                text-align: justify;
            }
        }

        img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            &.flex {
                height: 300px;
                width: 210px;
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 600px) {
    .wrapper {
        .content-container {
            &.flex {
                flex-direction: column;
            }
            img {
                height: 100%;
            }
            .describe {
                text-align: justify;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}
