.wrapper {
    width: 100%;

    .content {
        display: flex;
        gap: 50px;
        align-items: center;

        .input-content {
            width: 80%;
           
        }

        .img-content {
            img {
                width: 250px;
                height: 250px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}
