.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1eee3;
    height: calc(90vh - 10px);
    padding: 5px;
    overflow: scroll;
    scrollbar-width: none;

    .calendar {
        display: grid;
        grid-template-columns: repeat(7, 1fr); /* Thêm số cột */
        grid-template-rows: repeat(5, 1fr);
        gap: 5px;
        background-color: #f1eee3;
        width: 100%;
        max-width: fit-content;

        .day {
            width: 10.2vw;
            height: 70px;
            display: flex;
            color: black;
            border: 1px solid black;
            align-items: center;
            justify-content: center;
            font-family: var(--font-default);
            position: relative;

            .check,
            .xmark {
                font-size: 40px;
            }

            .day-name {
                position: absolute;
                top: 0;
                right: 0;
                border-left: 1px solid black;
                border-bottom: 1px solid black;
                width: 30px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 13px;
            }
        }
    }
    .check-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-top: 10px;
        gap: 20px;
        position: relative;
        z-index: 100;

        .note {
            background-color: transparent;
            cursor: pointer;
            color: rgb(117, 117, 117);
            font-size: 20px;
            border: none;
        }
    }

    .content {
        font-family: var(--font-default);
        font-size: 17px;
        margin-bottom: 20px;
    }

    .voucher-wrapper {
        margin-top: 20px;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        overflow-y: auto;
        scrollbar-width: none;
        height: 40vh;
    }

    .view-voucher-container {
        font-family: var(--font-default);
        color: #202020;
        display: flex;
        flex-direction: column;
        gap: 7px;
        overflow: scroll;
        scrollbar-width: none;

        .voucher-name {
            font-size: 19px;
            display: flex;
            justify-content: center;
            margin-bottom: 5px;
        }
        .voucher-description {
            border: 1px solid #202020;
            border-radius: 16px;
            padding: 10px;
            text-indent: 10px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 800px) {
    .wrapper {
        height: 100vh;
        .calendar {
            display: grid;
            grid-template-columns: repeat(5, 1fr); /* Thêm số cột */
            grid-template-rows: repeat(5, 1fr);
            gap: 5px;
            background-color: #f1eee3;
            width: 100%;

            max-width: fit-content;
            .day {
                width: 14.2vw;
                height: 60px;
                .day-name {
                    font-size: 10px;
                    width: 17px;
                    height: 12px;
                    padding: 0;
                }

                .check {
                    font-size: 20px;
                }

                .xmark {
                    font-size: 20px;
                }
            }
        }
    }
}
