.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;


    .navigate {
        display: flex;
        position: sticky;
        top: 0;
        background-color: var(--primary);
        z-index: 50;
        
    }

    .content {
        height: 100%;

    }

}
