.wrapper {
    position: relative;
    padding: 20px;

    .header {
        display: flex;
        gap: 10px;

        .add {
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            outline: none;
            font-size: 16px;
            font-family: var(--font-default);
            transition: border-color 0.3s ease;

            &:hover {
                border-color: rgba(22, 24, 35, 0.6);
            }
        }
    }

    thead {
        display: table-header-group;
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    tbody {
        display: table-row-group;
    }
    th {
        padding: 15px;
        border-bottom: 2px solid #ddd;
    }

    .function {
        width: 50px;
    }
}
