.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
        background-color: #3535350e;
    }
    align-items: center;
    .left-side {
        .client-info {
            display: flex;
            gap: 7px;
            align-items: center;
            font-family: var(--font-default);

            img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50%;
            }
            .txt-info {
                display: flex;
                flex-direction: column;
                gap: 3px;

                .email {
                    font-size: 12px;
                }
                .name {
                    font-size: 14px;
                }
            }
        }
        .title {
            font-family: var(--font-default);
            font-size: 14px;
            margin-top: 5px;
        }
    }
    .right-side {
        width: 150px;
        display: flex;
        align-items: center;
        font-family: var(--font-default);
        font-size: 14px;
        .confirm-responsed {
            display: flex;
            gap: 5px;
            align-items: center;
            color: green;
        }

        .confirm-noresponsed {
            display: flex;
            gap: 5px;
            align-items: center;
            color: red;
        }
    }
}
@media (max-width: 800px) {
    .wrapper {
        display: flex;
        justify-content: space-between;
        .left-side {
            .client-info {
                display: flex;
                gap: 7px;
                align-items: center;
                font-family: var(--font-default);
                .txt-info {
                    .email {
                        font-size: 10px;
                    }
                    .name {
                        font-size: 12px;
                    }
                }
            }
            .title {
                font-size: 12px;
            }
        }
        .right-side {
            width: 100px;
            display: flex;
            align-items: center;
            font-size: 10px;
        }
    }
}
