.wrapper {
    width: calc(100% - 40px);
    font-family: var(--font-default);
    padding: 20px;

    thead {
        display: table-header-group;
       
    }
    th {
        padding: 15px;
        border-bottom: 2px solid #ddd;
        
    }

    .name-header {
        text-align: start;
        padding: 10px;
    }
}
