.wrapper {
    width: calc(100% - 40px);
    font-family: var(--font-default);
    padding: 20px;

    .header {
        display: flex;
        gap: 10px;

        .add {
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            outline: none;
            font-size: 16px;
            font-family: var(--font-default);
            transition: border-color 0.3s ease;

            &:hover {
                border-color: rgba(22, 24, 35, 0.6);
            }
        }
    }

    thead {
        display: table-header-group;
    }
    th {
        padding: 15px;
        border-bottom: 2px solid #ddd;
    }

    .name-header {
        text-align: start;
        padding: 10px;
    }
}

@media(max-width:800px) {
    .wrapper{
        font-size: 13px;
        
        .location{
            display: none;
        }

        
        .phone{
            display: none;
        }
    }
}