
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.3s ease, visibility 0.3s;
    pointer-events: auto;
  }
  
  .modal-content {
    background: transparent;
    border-radius: 8px;
    border: 1px solid ;
    padding: 30px;
    backdrop-filter: blur(15px);
    border:1px solid var(--primary);
    width: 350px;
    transform: translateY(-50px);
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;

    &.test {
      width: 100%;
      background-color: var(--primary);
      height: 100vh;
      overflow: scroll;
      scrollbar-width: none;
    }

    &.bigedit {
      width: 60vw;
    }
  }
  
  .modal-show {
    transform: translateY(0);
    opacity: 1;
}