.wrapper {
  font-family: var(--font-default);
  position: relative;

  .container {
    display: flex;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(209, 204, 204, 0.75);
    padding: 20px;

    .delete {
      position: absolute;
      right: 20px;
      top: 15px;
    }

    .title {
      font-size: 25px;
      font-family: themify;
    }

    .describe {
      font-size: 15px;
      text-indent: 20px;
      text-align: justify;
    }

    .images-container {
      display: flex;
      overflow-x: auto;
      gap: 10px;
      scroll-behavior: smooth;
      width: 100%;
      padding-bottom: 10px;

      img {
        width: auto;
        height: 70px;
        max-width: 100px;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    .container {
      .describe {
        font-size: 15px;
        text-indent: 20px;
        text-align: justify;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
