.wrapper {
    z-index: 2;
    position: fixed;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(209, 204, 204, 0.75);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary);
    font-family: Walsheim-light;
}

.logo-link {
    width: 60px;
    height: 60px;
    object-fit: cover;
   
}

.middle-btn {
    margin: 0px 15px 0px 15px;
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.modal-title {
    color: var(--primary);
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.xmark {
    color: var(--primary);
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
    cursor: pointer;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
