.wrapper {
    .header {
        display: flex;
        gap: 10px;
        padding: 20px 20px 0px 20px;

        .add {
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            outline: none;
            font-size: 16px;
            font-family: var(--font-default);
            transition: border-color 0.3s ease;

            &:hover {
                border-color: rgba(22, 24, 35, 0.6);
            }
        }
    }

    

    .container {
        display: flex;
        transition: all 0.3s ease;

        .summary {
            width: 100%;

            transition: width 0.3s ease;
            min-width: calc(35% - 20px);
            color: black;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &.collapsed {
                width: 20%;
            }
        }
        .details {
            width: 0;
            opacity: 0;
            margin-top: 10px;
            overflow: hidden;
            transition: all 0.3s ease;
            background-color: #f8f7f1;
            color: black;
            overflow: scroll;
            height: 90vh;
            scrollbar-width: none;

            &.expanded {
                width: 80%;
                opacity: 1;
            }
        }
    }
}
.add-form {
    overflow: scroll;
    height: calc(100vh - 70px);
    scrollbar-width: none;

    .brand-wrapper {
        display: flex;
        width: 100%;
        gap: 30px;
        position: relative;

        .brand-container {
            flex: 0.9;
        }

        .tax-container {
            flex: 0.9;
        }
        .img-container {
            position: relative;
            display: flex;
            align-items: center;
            width: 100px;
            height: 100px;
            grid-column: 2;
            flex: 0.2;
    
            img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
    
            .file-container {
                position: absolute;
                width: 50px;
                height: 50px;
                right: -4px;
                transform: translate(-50%);
                bottom: -20px;
    
                input {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    border-radius: 50%;
                    opacity: 0;
                }
    
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0px;
                    width: 90%;
                    height: 90%;
                    background-image: url("../../../../public/image-gallery.png");
                    background-position: center;
                    background-size: 50%;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    pointer-events: none;
                    background-color: white;
                    box-shadow: 0px 1px 2px 0px rgba(209, 204, 204, 0.75);
                }
            }
        }
    }

    .time {
        display: flex;
        width: 100%;
        gap: 30px;

        .start-container {
            flex: 1;
        }

        .end-container {
            flex: 1;
        }
    }

    .representative-container {
        display: flex;
        gap: 30px;

        .represent-container {
            flex: 1.3;
        }
        .position-container {
            flex: 0.7;
        }
    }

    .contact {
        display: flex;
        gap: 30px;

        .email-container {
            flex: 1;
        }
        .phone-container {
            flex: 1;

            .phone {
                color: white !important;
                display: flex;

                input {
                    color: var(--primary);

                    background-color: transparent;
                    border: none;
                    font-family: var(--font-default);
                    font-size: 20px;
                    padding: 26px 0;
                    padding-left: 30px;
                }

                div {
                    background-color: transparent;
                    border: none;
                    input {
                        color: black;
                        height: 20px;
                    }
                    li {
                        color: black;
                    }
                }
            }
        }
    }
    .btn-container {
        width: 300px;
        margin: 0 auto;
        margin-top: 30px;
    }

    
}
