.wrapper {
    box-shadow: 0px 1px 2px rgba(187, 186, 186, 0.75);
}

.container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
 
    position: relative;
    font-family: var(--font-default);
    height: 250px;
    // color: #929191;
    

    img {
        width: 400px;
        height: 250px;
        object-fit: cover;
    }

    .content {
        padding: 20px;
        

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            
            .name {
                font-size: 20px;
                font-weight: bold;
            }

            .reviews {
                font-size: 20px;
            }
        }

        .description {
            font-size: 14px;
            color: #929191;
            display: -webkit-box;
            -webkit-line-clamp: 3;  
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 10px;
        }

        .view-more{
            position: absolute;
            right: 10px;
            bottom: 10px;
            
            button {
                width: 200px;
                font-family: var(--font-default);
                
                &:hover {
                    background-color: rgba(187, 186, 186, 0.75);
                }
            }
        }

        .activities-container{
            display: flex;
            gap: 10px;
            font-size: 25px;
            color: #929191;
            margin-top: 20px;
        }
    }
}