.wrapper {
    margin: 20px 0;
    padding: 30px;
    border: 1px solid #ccc;

    .btn-wrapper {
        width: 300px;
        display: flex;
        margin: 0 auto;
        margin-top: 40px;
    }
}