.wrapper {
    box-shadow: 1px 1px 2px 1px rgba(209, 204, 204, 0.75);
    padding: 17px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    position: relative;
    margin: 0 auto;

    img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 10px;
    }
    div {
        height: 50px;
        margin-top: 20px;
        font-size: 17px;
        font-family: var(--font-default);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 1.5;
    }

    .xmark {
        position: absolute;
        right: 15px;
        top: 12px;
        cursor: pointer;
    }
}
