.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
        display: flex;
        justify-content: end;

        .add {
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            outline: none;
            font-size: 16px;
            font-family: var(--font-default);
            transition: border-color 0.3s ease;
            cursor: pointer;
            &:hover {
                border-color: rgba(22, 24, 35, 0.6);
            }
        }
    }
}

@media (max-width: 800px) {
    .wrapper {
        .member-section {
            .represent {
                padding: 20px;
                border: 1px solid #ccc;
                margin-top: 10px;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Tự động xuống dòng */
                gap: 15px;
            }
        }
    }
}
