.wrapper {
    padding: 20px;

    .images-container {
        border: 1px solid rgba(209, 204, 204, 0.75);
        padding: 10px;

        .images {
            display: flex;
            flex-wrap: wrap; 
            gap: 10px;
            margin-top: 10px;

            img {
                width: auto;
                max-width: 160px;
                height: 120px;
                object-fit: cover;
            }
        }
    }

    .content {
        margin-top: 20px;

        
    }

    .apply {
        width: 300px;
        display: flex;
        margin: 0 auto;
    }

    .result {
        width: 100vw;
        overflow: scroll;
    }


}
