.wrapper {
    height: calc(100vh - 300px);

    .content {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        width: 32rem;
        border-radius: 16px;

        .title {
            border-bottom: 1px solid rgba(153, 153, 153, 0.75);
            font-size: 20px;
            padding: 20px 10px 10px 10px;
            font-weight: bold;
        }

        .body {
            padding: 0 30px;
            border-bottom: 1px solid rgba(153, 153, 153, 0.75);
            margin-top: 20px;

            .message {
                font-size: 20px;
                font-family: var(--font-default);
                margin-bottom: 20px;
            }
        }

        .btn-container {
            width: 300px;
            display: flex;
            margin: 20px auto;
        }
    }
}
