.wrapper {
    position: relative;
    height: fit-content;
    width: fit-content;

    .xmark {
        position: absolute;
        top: 7px;
        right: 10px;
        z-index: 100;
        cursor: pointer;
    }

    .content {
        border: 1px solid rgba(153, 153, 153, 0.75);
        padding: 30px 15px 15px 15px;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            width: 12rem;
            height: 12rem;
            object-fit: cover;
            border: 1px solid rgba(153, 153, 153, 0.75);
        }
        div {
            font-size: 17px;
            font-family: var(--font-default);
        }
    }
}
