.wrapper {
    display: flex;
    padding: 4rem 6rem;
    justify-content: space-between;
    align-items: center;
}

.imgs-container {
    width: 50vw;
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.imgs {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 10px;
    

    .img-container {
        margin-left: 100px;

        .img {
            width: 450px;
            height: 600px;
            object-fit: cover;
            box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
        }
    }

    .vertical-img-container {
        position: absolute;
        object-fit: contain;
        z-index: 1;
        left: 0;
  
        img {
            width: 450px;
            height: 450px;
            object-fit: cover;
            box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
        }
    }
    .horizontal-img-container {
        position: absolute;
        object-fit: cover;
        z-index: 2;
  
        top: 0;
        margin-left: 200px;
        margin-top: 300px;
    
        img {
            width: auto;
            height: 250px; 
            box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
            overflow-clip-margin: content-box;
        }
    }
}

.pin {
    margin: 5px 5px;
    padding: 0;
    border-radius: 16px;
    position: relative;
    font-family:var(--font-default);


    .content-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.397);
        transition: opacity 0.3s ease;
        z-index: 2;
        border-radius: 16px;
    }

    .content-container {
        position: absolute;
        z-index: 3;
        color: var(--primary);
        bottom: 0;
        margin: 20px 20px;
        opacity: 0;
        transition: opacity 0.3s ease;

        .name-container {
            margin-top: 10px;
        }

       
    }

    &:hover .content-container {
        opacity: 1;
    }

    &:hover .content-overlay {
        opacity: 2; 
    }

    &.piece {
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
            z-index: 2;
        }

        &.small {
            grid-row-end: span 15;
            object-fit: cover;
        }
        
        &.medium {
            grid-row-end: span 20;
            object-fit: cover;
        }
        
        &.large {
            grid-row-end: span 33;
            object-fit: cover;
        }
    }

    &.page {
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
        }

        &.small {
            grid-row-end: span 20;
            object-fit: cover;
        }
        
        &.medium {
            grid-row-end: span 30;
            object-fit: cover;
        }
        
        &.large {
            grid-row-end: span 50;
            object-fit: cover;
        }
    }

}


.content {
    width: 40vw;
    overflow: visible;

    &.full-width {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .title {
       font-size: 3rem;
       font-family: themify;
       margin: 2rem 0;
       font-weight: 300;
    }

    .describe {
        margin-top: 20px;
        font-size: 17px;
        text-align: justify;
        line-height: 1.6; 
        font-family:var(--font-default);
    }
    

    .view-more {
        font-family: Walsheim-bold;
        position: relative;
        display: inline-block;
        padding-bottom: 0.4rem;
        text-decoration: none;
        color: black;
        margin-top: 20px;
        font-size: 18px;


    
    }
    
}