.wrapper {
    display: flex;
    padding: 4rem 6rem;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.imgs-container {
    width: 50vw;
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.imgs {
    position: relative;
    width: 100%;
    display: flex;

    .pin-container {
        display: grid;
        position: relative;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        grid-template-columns: repeat(auto-fill, 200px);
        grid-auto-rows: 10px;
    }

    .straight-render-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 10px;
        img {
            width: 450px;
            object-fit: cover;
            box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
        }
    }

    .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        .img {
            width: 450px;
            height: 600px;
            object-fit: cover;
            box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
        }
    }

    .vertical-img-container {
        object-fit: contain;
        z-index: 1;
        left: 0;

        img {
            width: 450px;
            height: 450px;
            object-fit: cover;
            box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
        }
    }
    .horizontal-img-container {
        position: absolute;
        object-fit: cover;
        z-index: 2;
        top: 0;
        margin-left: 200px;
        margin-top: 300px;

        img {
            width: auto;
            height: 250px;
            box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
        }
    }
}

.pin {
    margin: 5px 5px;
    padding: 0;
    border-radius: 16px;
    position: relative;
    font-family: var(--font-default);

    .content-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.397);
        transition: opacity 0.3s ease;
        z-index: 2;
        border-radius: 16px;
        cursor: pointer;
    }

    .content-container {
        position: absolute;
        z-index: 3;
        color: var(--primary);
        bottom: 0;
        margin: 20px 20px;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 40px);
        align-items: center;
        transition: opacity 0.3s ease;

        .name-container {
            margin-top: 10px;
        }

        .right-side {
            display: flex;
            gap: 7px;
        }
    }

    &:hover .content-container {
        opacity: 1;
    }

    &:hover .content-overlay {
        opacity: 2;
    }

    &.piece {
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
            z-index: 2;
        }

        &.small {
            grid-row-end: span 15;
            object-fit: cover;
        }

        &.medium {
            grid-row-end: span 20;
            object-fit: cover;
        }

        &.large {
            grid-row-end: span 33;
            object-fit: cover;
        }
    }

    &.page {
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
        }

        &.small {
            grid-row-end: span 20;
            object-fit: cover;
        }

        &.medium {
            grid-row-end: span 30;
            object-fit: cover;
        }

        &.large {
            grid-row-end: span 50;
            object-fit: cover;
        }
    }
}

.content {
    width: 40vw;
    overflow: visible;

    &.full-width {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .author {
        color: rgb(153, 153, 153);
        font-family: var(--font-default);
        font-size: 17px;
        margin-bottom: 10px;
    }

    .title {
        font-size: 3rem;
        font-family: themify;
        margin-bottom: 2rem;
        font-weight: 300;
    }

    .describe {
        margin-top: 20px;
        font-size: 17px;
        text-align: justify;
        line-height: 1.6;
        font-family: var(--font-default);
        text-indent: 30px;

        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .show-more {
        position: relative;
        color: red;
        font-family: themify;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        margin-top: 10px;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px; /* khoảng cách giữa chữ và gạch */
            width: 0%;
            height: 2px;
            background-color: red;
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

@media (max-width: 1350px) {
    .wrapper {
        .imgs-container {
            width: 80vw;
            display: flex;
            justify-content: center;
            margin: 0 auto;

            .imgs {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }

            .vertical-img-container {
                object-fit: contain;
                z-index: 1;
                left: 0;

                img {
                    width: 450px;
                    height: 450px;
                    object-fit: cover;
                    box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
                }
            }
            .horizontal-img-container {
                object-fit: cover;
                z-index: 2;
                top: 50px;

                img {
                    width: auto;
                    height: 250px;
                    box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem 2rem;

        .imgs-container {
            width: 80vw;
            display: flex;
            justify-content: center;
            margin: 0 auto;

            .imgs {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }

            .vertical-img-container {
                object-fit: contain;
                z-index: 1;
                left: 0;

                img {
                    width: 450px;
                    height: 450px;
                    object-fit: cover;
                    box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
                }
            }
            .horizontal-img-container {
                object-fit: cover;
                z-index: 2;
                top: 50px;

                img {
                    width: auto;
                    height: 250px;
                    box-shadow: 5px 3px 3px 0px rgba(146, 146, 146, 2);
                }
            }
            .img-container {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: visible;
            }
        }
        .content {
            width: 90vw;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
                font-size: 2rem;
                font-family: themify;
                margin: 0;
                font-weight: 300;
            }
        }
    }
}
