.introduce {
    position: relative;
    padding-top: 50PX;
    overflow: hidden;
}
.video-container{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 100vh; 
    overflow: hidden;
}