.introduce {
    position: relative;
    padding-top: 40px;
    overflow: hidden;
}
.video-container {
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 0;
    height: 100vh;
    overflow: hidden;
}
